h1 {
    color: white;
    text-align: center;
}

html{
    background-color: black;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: white;
}

canvas {
    border-radius: 30px;
    width: 50%;
    float: right;
}
#result{
    float: left;
    width: 50%;
}

#showEmotion{
    position: relative;
    width: 90%;
    text-align: center;
    padding: 2%;
    display: list-item;
    font-size: 30px;
    background-color: lightgray;
    color: black;
    border-radius: 30px;

}

#inline{
}
